.input-box{
    .input{
        margin-top: 20px;
        font-size: 24px;
        border: none;
        outline: none;
        border-radius: 2px;
        height:40px;
        width: 350px;
        caret-color: rgba(45, 53, 65, 0.59);
        padding: 0 5px 0 10px;
        box-shadow: .25px .25px 5px grey;
        opacity: .5;
    }
}

@media screen and (max-width: 450px) {
    .input-box{
        .input{
            width: 70vw;
            font-size: 16px;
        }
    }
  }