body{
    font-family: 'Poppins', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(46, 58, 66, 0.929);
    color: #fff;
    font-size: 24px;
    text-align: center;
    .App{
        margin-top: 50px;
        padding: 20px 30px 50px 30px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color:  rgba(128, 128, 128, 0.055);
        border-radius: 10px;
        .title{
            font-weight: 700;
            text-transform: uppercase;
            .project{
                color:#546977b9
            }
        }
    .restart-btn{
        margin-top: 20px;
        margin-left: auto;
        margin-right: 6vw;
        font-size: 24px;
        // background-color: #2ec4b6;
        background: linear-gradient(0.25turn, #719628, #2b7e1c);
        font-family: 'Poppins', sans-serif;
        font-weight: 500;
        border: none;
        border-radius: 3px;
        padding: 5px 15px 5px 15px;
        box-shadow: .5px 0px 5px black;
        cursor: pointer;
        transition: all .2s linear;
        &:hover{
            transform: scale(1.1);
        }
    }
    }

    @media screen and (max-width: 450px) {
        body{
            .App{
                width: 90vw;
                height: 90vh;
            }
        }
    }
}
